In [86]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt

In [87]:
data = pd.read_csv('/content/drive/MyDrive/機器學習作業/CSV/bank-full.csv')
data.head(3)

   age           job  marital  education  ... pdays  previous poutcome   y
0   58    management  married   tertiary  ...    -1         0  unknown  no
1   44    technician   single  secondary  ...    -1         0  unknown  no
2   33  entrepreneur  married  secondary  ...    -1         0  unknown  no

[3 rows x 17 columns]

In [88]:
data.shape

(45211, 17)

In [89]:
#沒有錯誤資料
data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [90]:
le = LabelEncoder()

In [91]:
data['job'] = le.fit_transform(data['job'])
data['marital'] = le.fit_transform(data['marital'])
data['education'] = le.fit_transform(data['education'])
data['default'] = le.fit_transform(data['default'])
data['housing'] = le.fit_transform(data['housing'])
data['loan'] = le.fit_transform(data['loan'])
data['contact'] = le.fit_transform(data['contact'])
data['month'] = le.fit_transform(data['month'])
data['poutcome'] = le.fit_transform(data['poutcome'])
data['y'] = le.fit_transform(data['y'])
data

       age  job  marital  education  ...  pdays  previous  poutcome  y
0       58    4        1          2  ...     -1         0         3  0
1       44    9        2          1  ...     -1         0         3  0
2       33    2        1          1  ...     -1         0         3  0
3       47    1        1          3  ...     -1         0         3  0
4       33   11        2          3  ...     -1         0         3  0
...    ...  ...      ...        ...  ...    ...       ...       ... ..
45206   51    9        1          2  ...     -1         0         3  1
45207   71    5        0          0  ...     -1         0         3  1
45208   72    5        1          1  ...    184         3         2  1
45209   57    1        1          1  ...     -1         0         3  0
45210   37    2        1          1  ...    188        11         1  0

[45211 rows x 17 columns]

In [92]:
#因此將y分離(output_target)
target_y = data['y'].values
data_in = data.drop('y', 1)

In [93]:
from sklearn.preprocessing import StandardScaler

In [94]:
ss = StandardScaler()

In [95]:
scaled_data = ss.fit_transform(data_in)
scaled_data

array([[ 1.60696496, -0.10381968, -0.27576178, ..., -0.41145311,
        -0.25194037,  0.44489814],
       [ 0.28852927,  1.42400783,  1.3683719 , ..., -0.41145311,
        -0.25194037,  0.44489814],
       [-0.74738448, -0.71495069, -0.27576178, ..., -0.41145311,
        -0.25194037,  0.44489814],
       ...,
       [ 2.92540065,  0.20174582, -0.27576178, ...,  1.43618859,
         1.05047333, -0.56617504],
       [ 1.51279098, -1.02051619, -0.27576178, ..., -0.41145311,
        -0.25194037,  0.44489814],
       [-0.37068857, -0.71495069, -0.27576178, ...,  1.4761376 ,
         4.52357654, -1.57724822]])

In [96]:
from sklearn.decomposition import PCA

In [97]:
pca = PCA(n_components=16)

In [98]:
x_feature = pca.fit_transform(scaled_data)

In [99]:
x_feature

array([[-0.78890923, -1.31830434,  0.77622944, ..., -0.91095236,
         0.78134598,  0.01807685],
       [-0.73076082, -1.2819238 , -1.05772434, ..., -0.80708433,
         0.84246101, -0.00626468],
       [-0.82883489, -2.38356872, -0.29819299, ..., -0.1503869 ,
        -0.56243756, -0.01018423],
       ...,
       [ 1.57891358,  0.5852589 ,  2.50001712, ...,  0.28133803,
         1.33432119,  0.68063531],
       [-0.94353462, -0.40619616,  1.43027295, ...,  0.42936521,
         0.55606185,  0.03677162],
       [ 3.93389431, -0.3128333 ,  0.60783749, ...,  1.6215404 ,
        -0.12475192,  0.10213318]])

In [100]:
X_train, X_test, Y_train, Y_test = train_test_split(x_feature, target_y, test_size=0.2, random_state=1234)

In [101]:
X_train.shape

(36168, 16)

In [102]:
X_test.shape

(9043, 16)

In [103]:
Y_train.shape

(36168,)

In [104]:
Y_test.shape

(9043,)

In [105]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [106]:
lr = LogisticRegression()
cross_val_score(lr, X_test, Y_test, scoring='accuracy', cv=10).mean()

0.8946150931403707

In [107]:
from sklearn.svm import SVC
import multiprocessing

In [108]:
classifier = SVC(kernel = 'rbf', random_state = 1234)
nsvc=classifier.fit(X_train, Y_train)

In [109]:
cross_val_score(nsvc, X_test, Y_test, scoring='accuracy', cv=10).mean()

0.8954999266611254

In [110]:
lsvc = SVC(kernel='linear', random_state = 1234)
cross_val_score(lsvc, X_test, Y_test, scoring='accuracy', cv=10).mean()

0.885989585879822

In [111]:
from sklearn.neural_network import MLPClassifier

In [112]:
mlp = MLPClassifier(hidden_layer_sizes=(50,), activation='tanh', solver='sgd', learning_rate_init=0.1, max_iter=10000)
mlp.fit(X_train, Y_train)
mlp.score(X_test, Y_test)

0.898595598805706

In [113]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import GridSearchCV
from sklearn import model_selection

In [114]:
model = Sequential()

In [115]:
model.add(Dense(50, activation='tanh',input_shape=(16,)))
model.add(Dense(30, activation='sigmoid'))
model.add(Dense(1, activation='sigmoid'))
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [116]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_15 (Dense)             (None, 50)                850
_________________________________________________________________
dense_16 (Dense)             (None, 30)                1530
_________________________________________________________________
dense_17 (Dense)             (None, 1)                 31
=================================================================
Total params: 2,411
Trainable params: 2,411
Non-trainable params: 0
_________________________________________________________________

In [117]:
model.fit(X_train, Y_train, epochs=30, batch_size=20)

Epoch 1/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2774 - accuracy: 0.8771
Epoch 2/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2437 - accuracy: 0.8967
Epoch 3/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2382 - accuracy: 0.8974
Epoch 4/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2345 - accuracy: 0.8993
Epoch 5/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2319 - accuracy: 0.8996
Epoch 6/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2293 - accuracy: 0.9011
Epoch 7/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2272 - accuracy: 0.9015
Epoch 8/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2254 - accuracy: 0.9025
Epoch 9/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2239 - accuracy: 0.9030
Epoch 10/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2226 - accuracy: 0.9038
Epoch 11/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2212 - accuracy: 0.9039
Epoch 12/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2202 - accuracy: 0.9044
Epoch 13/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2188 - accuracy: 0.9049
Epoch 14/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2180 - accuracy: 0.9056
Epoch 15/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2166 - accuracy: 0.9066
Epoch 16/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2161 - accuracy: 0.9063
Epoch 17/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2150 - accuracy: 0.9073
Epoch 18/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2142 - accuracy: 0.9077
Epoch 19/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2131 - accuracy: 0.9071
Epoch 20/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2120 - accuracy: 0.9075
Epoch 21/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2109 - accuracy: 0.9084
Epoch 22/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2095 - accuracy: 0.9098
Epoch 23/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2091 - accuracy: 0.9090
Epoch 24/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2078 - accuracy: 0.9097
Epoch 25/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2066 - accuracy: 0.9106
Epoch 26/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2057 - accuracy: 0.9105
Epoch 27/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2047 - accuracy: 0.9105
Epoch 28/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2038 - accuracy: 0.9106
Epoch 29/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2031 - accuracy: 0.9109
Epoch 30/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2022 - accuracy: 0.9114

In [118]:
test_los, test_acc = model.evaluate(X_test, Y_test)

283/283 [==============================] - 0s 908us/step - loss: 0.2266 - accuracy: 0.9010

#Logstic Regression with nn

In [122]:
model1 = Sequential()

In [128]:
model1.add(Dense(1, activation='sigmoid'))
model1.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [129]:
model1.fit(X_train, Y_train, epochs=30, batch_size=20)

Epoch 1/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.4018 - accuracy: 0.8827
Epoch 2/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.3323 - accuracy: 0.8827
Epoch 3/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.3108 - accuracy: 0.8827
Epoch 4/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2965 - accuracy: 0.8827
Epoch 5/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2857 - accuracy: 0.8827
Epoch 6/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2700 - accuracy: 0.8827
Epoch 7/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2615 - accuracy: 0.8827
Epoch 8/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2559 - accuracy: 0.8827
Epoch 9/30
1809/1809 [==============================] - 3s 1ms/step - loss: 0.2504 - accuracy: 0.8827
Epoch 10/30
1809/1809 [==============================] - 3s 2ms/step - loss: 0.2455 - accuracy: 0.8827
Epoch 11/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2415 - accuracy: 0.8827
Epoch 12/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2379 - accuracy: 0.8827
Epoch 13/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2352 - accuracy: 0.8829
Epoch 14/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2329 - accuracy: 0.8864
Epoch 15/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2304 - accuracy: 0.8951
Epoch 16/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2278 - accuracy: 0.8993
Epoch 17/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2262 - accuracy: 0.8975
Epoch 18/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2238 - accuracy: 0.8988
Epoch 19/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2220 - accuracy: 0.8991
Epoch 20/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2210 - accuracy: 0.9013
Epoch 21/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2195 - accuracy: 0.9001
Epoch 22/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2187 - accuracy: 0.9008
Epoch 23/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2172 - accuracy: 0.9006
Epoch 24/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2162 - accuracy: 0.9014
Epoch 25/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2153 - accuracy: 0.9004
Epoch 26/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2147 - accuracy: 0.9015
Epoch 27/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2135 - accuracy: 0.9017
Epoch 28/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2126 - accuracy: 0.9026
Epoch 29/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2122 - accuracy: 0.9026
Epoch 30/30
1809/1809 [==============================] - 2s 1ms/step - loss: 0.2113 - accuracy: 0.9028

In [131]:
test1_los, test1_acc = model1.evaluate(X_test, Y_test)

283/283 [==============================] - 0s 898us/step - loss: 0.2353 - accuracy: 0.8994